[defaults]
inventory=./inventory
remote_user=<username> # insert your username here
interpreter_python=auto_silent
deprecation_warnings=false
host_key_checking=false
retry_files_enabled=false
inject_facts_as_vars=false
[privilege_escalation]
become=false
become_method=sudo
become_user=root
become_ask_pass=false